#content {
    max-width: 1600px;
    margin: 0 auto;
}
main section{
    text-align: center;
}
.button-box{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}

#hero-msg h1{
    text-align: center;
} 
/* backgorund color and size for the msg section */
#background {
    background-color: #22aaa1;
    height: 725px;
}


body {
    background-color: #333d29;
}

header {
    background-color: #22aaa1;
    
}

nav a:hover {
    background-color: #333d29;
    color: #22aaa1;
}

nav a {
    background-color: #333d29;
    color: rgb(244, 240, 15);
    text-align: center;
    text-decoration: none;
}

.home-title {
    color: rgb(244, 240, 15);
}

h4 {
    color: rgb(244, 240, 15);
}

.book,
.join {
    background-color: #22aaa1;
    color: #333d29;
    text-decoration: none;
}

.book:hover,
.join:hover {
    background-color: #22aaa1;
    color: rgb(244, 240, 15);
}
.msg{
    background-color:rgb(244, 240, 15);
    color: #22aaa1;
}
.msg h2 {
    color: #333d29;
}

.msg p {
    color: #333d29;
}

footer {
    color: #333d29;
}

footer a {
    color: #333d29;
    text-decoration: none;
}

footer a:hover {
    color: #22aaa1;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
#bottom-background{
    background-color: rgb(244, 240, 15);
}